## Alias setup

## Shell related
# Basic aliases
alias c='clear'
alias l='ls -lFG'
alias ll='ls -ltrFG'
alias la='ls -laFG'
alias ls='ls -FG'
alias vi='vim'
alias rmf='rm -rf'
alias cdt='cd $(mktemp -d)'
alias untar='tar xf'
alias untgz='tar xzf'

# Grep with colour - GREP_OPTIONS is deprecated
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ngrep='egrep --color=never' # no colour

alias sha1sum='openssl sha1'

## Homebrew
alias sysupdate='brew update && brew upgrade && brew cleanup && brew doctor && npm update && npm upgrade -g'


## Custom Alias
# Check all the files modified within last week / last 2 weeks
alias chlw='find . -mtime -1w -type file -exec ls -lh {} \;'
alias chl2w='find . -mtime -2w -type file -exec ls -lh {} \;'
# Delete all .DS_Store files recursively
alias rmds='find . -type f -name "*.DS_Store" -ls -delete'
alias watch='watch '
alias calcgo="( find ./ -name '*.go' -print0 | xargs -0 cat ) | wc -l"

## Terraform
alias tf="terraform"
alias tfw="terraform workspace"

## Kubernetes
alias k='kubectl'
alias kc='kubectl'
alias kg='kubectl get'
alias kgaa='kubectl get all --all-namespaces'
alias kgp='kubectl get pod'
alias kgpa='kubectl get pod --all-namespaces'
alias kgpal='kubectl get pod --all-namespaces -l'
alias kgs='kubectl get svc'
alias kgsa='kubectl get svc --all-namespaces'
alias kgd='kubectl get deployment'
alias kgda='kubectl get deployment --all-namespaces'

## Istio
alias iig="kubectl get pod -l app=istio-ingressgateway -n istio-system -o jsonpath='{.items[0].metadata.name}'"
alias ieg="kubectl get pod -l app=istio-ingressgateway -n istio-system -o jsonpath='{.items[0].metadata.name}'"
alias istio-ingress-log='kubectl logs $(iig) -n istio-system -c istio-proxy'
alias istio-egress-log='kubectl logs $(ieg) -n istio-system -c istio-proxy'
alias iid="kubectl get pod -l app=istiod -n istio-system -o jsonpath='{.items[0].metadata.name}'"
alias istio-istiod-log='kubectl logs $(iid) -n istio-system '

## Helm Specific (Tiller related, remove after v3)
alias cleanhelm='kubectl delete deployment tiller-deploy -n kube-system; kubectl delete svc tiller-deploy -n kube-system'
alias setuphelm='kubectl create serviceaccount --namespace kube-system tiller; \
	kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller;\
	kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}''
