## Custom Function setup

# Short hand for cd-which - ignores if an alias is provided
# Thanks to http://unix.stackexchange.com/a/251339/200965
cdw() {
  alias $1 &> /dev/null || cd "$(dirname "$(which $1)")"
}
