[core]
  excludesfile = ~/.gitignore.global
  autocrlf = input
  editor = vim
[user]
  name = Ryota
  useConfigOnly = true
	email = rytswd@gmail.com
[github]
  user = rytswd
[color]
  branch = true
  ui = true
  diff = true
  status = true
[alias]
  s = status
  ci = commit
  co = checkout
  ls = branch -a
  lga = log --oneline --all --decorate --graph
  rbi = rebase --interactive
  rba = rebase --abort
  forget = update-index --assume-unchanged
  unforget = update-index --no-assume-unchanged
[help]
  autocorrect = 1
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autoStash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
